body
{
	background-image: url(/images/background.png);
	margin: 0px;
	top:0px;
}

img {border: none}

a
{
	text-decoration: none;
	color: #3C0;
}

a:hover { color:#39F }

p
{
	color: #666;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	margin:0px;
}

h1
{
	font-family: Arial, Helvetica, sans-serif;
	color: #63F;
}

h2
{
	font-family: Arial, Helvetica, sans-serif;
	color: #74F;
	margin:0px;
}

h3
{
	font-family: Arial, Helvetica, sans-serif;
	color: #85F;
	margin:0px;
}

h4
{
	font-family: Arial, Helvetica, sans-serif;
	color: #85F;
	margin:0px;
}

.about
{
	font-size:14px;
	color: #3366ff;
}

.AddPost
{
	border:1px solid #69F;
	border-collapse:collapse;
}

.change_password
{
	font-size:14px;
	color: #0000CD;
}

.congrats
{
	font-size:20px;
	color: #006400;
}

.control_panel
{
	font-size:14px;
	color:#000000;
}

.distinct
{
	font-size:14px;
	color: blue
}

.error    
{
	font-size:14px;
	color: red
}

.help
{
	font-size:14px;
	color: #000000;
}

.instructions
{
	font-size:13px;
	color:#808080;
	font-style:italic;
}

.instructions2
{
	font-size:13px;
	color:#000000;
}

.main_container
{
	border: 1px solid #39F;
	background-color:#FFF;
	margin: 0px;
}

.MainForum
{
	border: 1px solid #69F;
	border-collapse:collapse;
	height:30px;
}

.navigation_bar
{
	background-color:#06C;
	color:#FFF;
	margin: 0px;
}

.Sticky
{
	color:#F00;
}

.TableTitle
{
	font-size:12px;
	color:#009;
	font-weight:bold;
	height:10px;
}

.ThreadTable
{
	border:1px solid #CCC;
}

.Thread
{
	border:1px solid #CCC;
	border-collapse:collapse;
}

.welcome
{
	font-size:20px;
	color: #000000;
}