
body {
	background-image: url(/images/background.png);
	margin: 0px;
	top:0px;
}

img {border: none}


a {
	text-decoration: none;
	color: #3C0;
}

a:hover { color:#39F }
p {
	color: #666;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	margin:0px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #63F;
	filter: Shadow(Color=#000000, Direction=1);	
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #74F;
	filter: Shadow(Color=#000000, Direction=1);
	margin:0px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #85F;
	filter: Shadow(Color=#000000, Direction=1);	
}

.main_container
{
	border: 1px solid #39F;
	background-color:#FFF;
	margin: 0px;
		top: 0px;

}

.navigation_bar
{
	background-color:#06C;
	color:#FFF;
	margin: 0px;
}

.MainForum {
	border: 1px solid #69F;
	border-collapse:collapse;
	height:30px;
}

.TableTitle {
	font-size:12px;
	color:#009;
	font-weight:bold;
	height:10px;
}

.instructions{
	font-size:13px;
	color:#808080;
	font-style:italic;
}

.instructions2{
	font-size:13px;
	color:#000000;
}

.control_panel{
	font-size:16px;
	color:#000000;
}

.change_password{
	font-size:16px;
	color: #0000CD;
}

.error    { color: red }
.distinct { color: blue }

.AddPostTable
{
	border:1px solid #69F;
	border-collapse:collapse;
}

.AddPost
{
	border:1px solid #69F;
	border-collapse:collapse;
}

.ThreadTable
{
	border:1px solid #CCC;
}

.Thread
{
	border:1px solid #CCC;
	border-collapse:collapse;
}
.Sticky
{
	color:#F00;
}